#customizer-maidiv {
  width: calc(100% - 8px - 40px);

  height: max-content;
  min-height: 200px;

  background-color: var(--primary);
  
  border: 4px solid var(--secondary);
  border-radius: 30px;

  margin-bottom: 30px;
  padding: 20px;

  transition: 0.45s all ease
}

#customizer-selectGuide {
  width: 100%;
  height: 50px;

  padding: 0px 16px 0px 16px;

  background-color: var(--secondary);
  
  color: var(--font-primary);
  font-family: _bold;
  font-size: 20px;

  border: none;
  border-radius: 10px;
}

#customizer-selectGuide option {
  background-color: var(--primary);
  font-family: _medium;
  font-size: 16px;
}

p {
  font-family: _medium;
  color: var(--font-secondary);

  margin-bottom: 72px
}


/* Inputs Style */
.text-input {
  width: calc(100% - 32px - 6px);
  height: 44px;

  padding: 0px 16px 0px 16px;
  margin: 0px 0px 12px 0px;
  
  color: var(--font-primary);
  font-family: _medium;
  font-size: 16px;

  background-color: var(--primary);

  border: 3px solid var(--secondary);
  border-radius: 10px;
}

.textarea-input {
  width: calc(100% - 32px - 6px);
  height: 120px;

  padding: 12px 16px 0px 16px;
  margin: 0px 0px 12px 0px;
  resize: none;

  background-color: var(--primary);
  
  color: var(--font-primary);
  font-family: _medium;
  font-size: 16px;

  border: 3px solid var(--secondary);
  border-radius: 10px;
}

@media screen and (min-width: 1200px) {
  #customizer-maidiv {
    width: calc(18dvw - 8px - 40px);
    min-width: 280px;
    max-width: 350px;

    height: calc(100% - 8px - 40px);
    max-height: calc(100dvh - 100px);

    background-color: var(--primary);
    
    border: 4px solid var(--secondary);
    border-radius: 30px;

    margin-bottom: unset;
    padding: 20px;

    position: relative;
  }

  #customizer-selectGuide {
    width: 100%;
    height: 50px;

    padding: 0px 16px 0px 16px;

    background-color: var(--secondary);
    
    color: var(--font-primary);
    font-family: _bold;
    font-size: 20px;

    border: none;
    border-radius: 10px;
  }

  /* Inputs Style */
  .text-input {
    height: 44px;
  }

  .textarea-input {
    height: 128px;
  }
}
