#main-maidiv {
  width: calc(100dvw - 60px);
  height: max-content;

  position: relative;
  top: 30px;
  left: 50%;
  transform: translateX(-50%);
}

.divider {
  width: 100%;
  height: 4px;

  background-color: var(--secondary);

  border-radius: 10px;

  margin: 16px 0px 16px 0px;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

@media screen and (min-width: 768px) {
  #main-maidiv {
    display: flex;
    gap: 40px;

    width: max-content;
    height: calc(100dvh - 100px);

    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    background-color: transparent;
  }

  .divider {
    width: 100%;
    height: 4px;

    background-color: var(--secondary);

    border-radius: 10px;

    margin: 16px 0px 16px 0px
  }
}