#cmdfield-maidiv {
  width: calc(100% - 8px - 40px);

  height: max-content;
  min-height: 200px;

  background-color: var(--primary);
  
  border: 4px solid var(--secondary);
  border-radius: 30px;

  margin-bottom: 30px;
  padding: 20px;

  transition: 0.45s all ease;

  overflow-y: scroll;
}

#cmdfield-maidiv::-webkit-scrollbar {
  width: 8px;
}

#cmdfield-maidiv::-webkit-scrollbar-track {
  background-color: transparent;
}

#cmdfield-maidiv::-webkit-scrollbar-thumb {
  background-color: var(--secondary);
  border-radius: 10px
}

@media screen and (min-width: 1200px) {
  #cmdfield-maidiv {
    width: calc(40dvw);

    height: calc(100% - 8px - 40px);
    max-height: calc(100dvh - 100px);

    background-color: var(--primary);
    
    border: 4px solid var(--secondary);
    border-radius: 30px;

    margin-bottom: unset;
    padding: 20px;

    position: relative;
    transition: 0.45s all ease
  }
}