html, body {
  background-color: var(--primary);
  color: var(--font-primary);
}

html::-webkit-scrollbar {
  display: none;
}

* {
  margin: 0;
  padding: 0;
}

:root {
  --primary: #0F131A;
  --secondary: rgb(245, 245, 245, 0.1);
  --blue: #007AFF;
  --green: #45C2BA;
  --red: #FF393D;
  --font-primary: #F5F5F5;
  --font-secondary: rgb(245, 245, 245, 0.3);
}